altair
fastapi
ipeadatapy
pandas
numpy
openai
pydantic
python-dotenv
python-multipart
redis>=4.5.0
redis[search]
requests
sentence-transformers
streamlit
tabulate
typing-extensions
tqdm
uvicorn[standard]
torch==2.3.0+cpu
torchvision==0.18.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
